footer{
    background-color: #ffffffe0;
    width: 100%;
    color: #aaa;
    text-align:center;
    font-size: 12px;
    padding: 5px 0;
    margin-top: auto;
    #redes img{
        width: 24px;
        height: 24px;
        justify-content:center;
    }
}